@import 'variable';

h1 {
    color: $red-color;
}

h2 {
    color: blue;
}

.btn-course-detail {
    margin-left: 64px;
    
}

.btn-course-detail:hover {
    color: #000;
    background-color: aqua;
}
.fix-width {
    height: 500px;
}